<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>#SITE_NAME#</title>
</head>

<body>
	<div style="float:left;width:100%;text-align:center;border-bottom:1px solid #000000;height:50px;padding:10px 0px;">
    	<img src="#APP_URL#/logo.png?v=2" width="49" height="50" style="margin:auto;text-align:center;" alt="#SITE_NAME#">
    </div>
    
    <div style="float:left;width:100%;padding:10px 0px;">
    	#HTML_BODY#
    </div>
    
    <div style="float:left;width:100%;border-top:1px solid #000000;padding:10px 0px;">
    You received this message because this email address is associated with an account that accesses #SITE_NAME# and a password reset was requested for the account. If you didn't make this request, it is safe to ignore this message. <a href="#APP_URL#" target="_blank">For more information, visit the site</a>. Note: replies to this email account are not monitored.
    </div>
</body>
</html>
