/*
Customize the look of the site in this file...
This stylesheet is loaded after absolutely everything else
*/

:root {
    --primary-color: #DE3EA6;
    --secondary-color: #091416;
    --neutral-light-0: #D5DBDD;
    --neutral-light-1: #8B9193;
    --neutral-light-2: #4D5355;
    --neutral-mid: #232526;
    --neutral-dark-0: #020202;
    --neutral-dark-1: #0A0B0B;
    --neutral-dark-2: #141516;
    --text-white: #FFFFFF;
    --semantic-success: #1E832C;
    --semantic-error: #B22C32;
}